@import '../../variables.scss';

.InfoChip {
    cursor: pointer;
}

.InfoChip-Card {
}

.InfoChip-Content {
    display: flex;
    padding: 1rem;

    &:hover {
        background: #FFF9A8;
    }
}

.InfoChip-Avatar {
    margin-right: 1rem;
}

.InfoChip-Info {
    flex-grow: 1;
    margin-top: 0.5rem;
}

.InfoChip-Info-Primary {
    margin: 0;
    color: #333;
    font-weight: 600;
}

.InfoChip-Info-Secondary {
    margin: 0;
    color: #999;
}
