.GroupsList {
}

.GroupList-List {
    padding: 0;
    margin: 0;
    column-count: 3;
    list-style: none;
}

.GroupList-Item {
    margin-bottom: 1rem;
    width: 100%;
    display: inline-block;
}

.GroupsList-Actions {
    display: flex;
}

.GroupsList-Actions-Search {
    margin: -1rem 2rem 0 0 !important;
}

.GroupsList-Status {
    font-size: 0.8rem;
    color: #999;
}