@import '../../variables.scss';

$bar-height-sm: calc(4rem - 8px);
$bar-height-lg: 4rem;

.Header {
    // grid-column: span 8;
}

.Header-AppBar-Grid {
    width: $width;
    margin: auto;
    // @include apply-grid();
}

.Header-AppBar-InnerWrapper {
    display: flex;
    grid-column: 2/8;
}

.Header-AppBar-Logo {
    flex-grow: 1;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: $bar-height-lg;
}

.Header-AppBar-Tabs-Nav {
    background-color: transparent !important;
    box-shadow: none !important;

    & > div {
        padding-bottom: 0;
        /* margin: 0; */
        line-height: $bar-height-lg;
        padding-top: 0;
    }
}

.Header-AppBar-Tabs-Tab {
    line-height: $bar-height-lg;
}