@import './variables.scss';

body {
  background: #efefef;
}

.Card {

}

.CardPadding {
  padding: 2rem;
}

.App {
  @include apply-grid();
}

.App-Content {
  grid-column: 2/8;
  margin-top: 4rem;
}