@import './variables.scss';

body {
  background: #efefef;
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 2rem;
  color: #333;
}

.App {
  // @include apply-grid();
}

.App-Content {
  // grid-column: 2/8;
  margin: 4rem auto;
  width: $width;
}